<!doctype html>
<html>
<head>
    <title>Administration of invoices</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:60px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Invoice Administration</h1>

        <p>View all or Create new with:</p>

        <a href="/invoices" class="btn btn-default"><span class="fa fa-user"></span> View all invoices </a>
        <a href="/newInvoice" class="btn btn-default"><span class="fa fa-user"></span> Create New invoice </a>

    </div>

</div>
<script src="../controllers/controller.js">
    console.log('1111');
</script>
</body>
</html>